.serif-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

#valerias-summary {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 30px 50px;
}

body {
    background: linear-gradient(to bottom right, #e6829c, #a083e6) no-repeat fixed;
    height: 100%;
}

#vale-img {
    border-radius: 20px;
}

.valerias-name h1{
    color: white;
    font-size: 50px;
    margin: 0;
    text-align: center;
}

.valerias-presentation p{
    text-align: center;
    color: white;
}

#facts {
    margin-top: 20px;
}

.grow {
	display: inline-block;
	transition-duration: 0.3s; /* Reemplaza $defaultDuration con el valor deseado */
	transition-property: transform;

	/* hideTapHighlightColor */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	/* hardwareAccel */
	transform: translateZ(0);

	/* improveAntiAlias */
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.grow:hover {
	transform: scale(1.03);
}


.fact-card-container {
    border: none;
    margin-top: 20px;
    width: 90%;
    height: 90px;
    background-color: rgba(34, 33, 33, 0.5);
    border-radius: 20px;
    color: white;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.fact-card {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider {
    width: 80%;
    height: 1px;
    background-color: white;
    margin: 0 auto;
}

.fact-card-description {
    margin: 0;
    width: 50%;
}

.fact-card-description h2 {
    text-align: center;
    margin: 5px 0;
}

.fact-card-description p {
    margin-top: 6px;
    text-align: center;
}

.fact-card img {
    height: 70px;
}