.serif-font {
  font-family: "Playfair Display", serif;
  font-style: normal;
  color: white;
  font-size: 50px;
  margin: 0;
  text-align: center;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
}

#valerias-summary {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 30px 50px;
}

body {
    background: linear-gradient(to bottom right, #e6829c, #a083e6) no-repeat fixed;
    height: 100%;
}

#vale-img {
    border-radius: 20px;
}

.valerias-presentation p{
    text-align: center;
    color: white;
}

#facts {
    margin-top: 20px;
}

.grow {
	display: inline-block;
	transition-duration: 0.3s;
	transition-property: transform;

	/* hideTapHighlightColor */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	/* hardwareAccel */
	transform: translateZ(0);

	/* improveAntiAlias */
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.grow:hover {
	transform: scale(1.03);
}


.fact-card-container {
    border: none;
    margin-top: 20px;
    width: 90%;
    height: 90px;
    background-color: rgba(34, 33, 33, 0.5);
    border-radius: 20px;
    color: white;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.fact-card {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider {
    width: 80%;
    height: 1px;
    background-color: white;
    margin: 0 auto;
}

.fact-card-description {
    margin: 0;
    width: 50%;
}

.fact-card-description h2 {
    text-align: center;
    margin: 5px 0;
}

.fact-card-description p {
    margin-top: 6px;
    text-align: center;
}

.fact-card img {
    height: 70px;
}

#valerias-about-me {
    margin-top: 100px;
}

#about-me-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 30px 0 15px 0;
}

.info-card-container {
    background-color: rgba(34, 33, 33, 0.5);
    width: 300px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.info-card img {
    width: 70%;
}

.info-card p {
    text-align: center;
    color: white;
}






@media (min-width: 1300px) {
    .serif-font {
        font-size: 90px;
    }

    #vale-img {
        width: 500px;
    }

    .valerias-presentation {
        font-size: 25px;
    }

    .fact-card-container {
        height: 180px;
    }

    .fact-card img {
        height: 160px;
    }

    .fact-card-description h2 {
        font-size: 25px;
    }
    
    .fact-card-description p {
        font-size: 25px;
    }

    .info-card-container {
        width: 450px;
        height: 550px;
    }
}