.serif-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

#valerias-summary {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 30px 50px;
}

body {
    background: linear-gradient(to bottom right, #e6829c, #a083e6) no-repeat fixed;
    height: 100%;
}

#vale-img {
    border-radius: 20px;
}

.valerias-name h1{
    color: white;
    font-size: 50px;
    margin: 0;
    text-align: center;
}



.valerias-presentation p{
    text-align: center;
}

#facts {
    margin-top: 20px;
}

.fact-card {
    margin-top: 20px;
    width: 90%;
    height: 80px;
    background-color: rgba(34, 33, 33, 0.5);
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
}