* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(26, 15, 56);
}

nav {
    background-color: #f8f9fa; /* Puedes ajustar el color de fondo del nav si lo deseas */
    padding: 1rem;
}

.main {
    background-image: url("https://img.freepik.com/foto-gratis/petalo-belleza-margarita-verano-cerca-purpura-al-aire-libre-ia-generativa_188544-8633.jpg"); /* Asegúrate de colocar la ruta correcta de tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 800px;
    height: 80%;
}
